@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

@media (min-width: 1024px) {
    .fi-wi-stats-overview-stats-ctn:has(> :nth-child(5)) {
        grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    }
    .fi-wi-stats-overview-stats-ctn:has(> :nth-child(3)):not(:has(> :nth-child(4))) {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
    .fi-wi-stats-overview-stat-label {
        font-size: 0.75rem !important; /* text-xs */
    }
    .fi-wi-stats-overview-stat-value {
        font-size: 1.25rem !important; /* text-xl */
    }
    .fi-wi-stats-overview-stat-description {
        font-size: 0.75rem !important; /* text-xs */
    }
}

/* Fix filament sidebar on mobile views to prevent locked 15% width constraint */
@media (max-width: 1023px) {
    .fi-sidebar {
        width: 16rem !important; /* Standard tailwind w-64 */
    }
}
